.product__List {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 15px;
}
.product__img {
  aspect-ratio: 1;
  width: 100%;
}
.product__detail {
  padding: 10px 5px 40px;
}
.product__title {
  font-weight: bold;
}
.product__price {
  margin-top: 10px;
}
