.navbar {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 2px solid #222;
}
.text {
  display: block;
  position: relative;
  padding: 10px;
}
.count {
  z-index: 10;
  position: absolute;
  top: 2px;
  right: -5px;
  min-width: 16px;
  height: 16px;
  border-radius: 999px;
  background: red;
  color: #fff;
  font-size: 11px;
  text-align: center;
  line-height: 16px;
}
